body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url(yetlop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 170vh;
}
header {
    background-color: rgba(104, 104, 104, 0.5);
    padding: 5px;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.active {
	background:#ffffff6e;
	color:#fff;
}

nav a:hover {
    text-decoration: underline;
}
.content {
    padding: 10px;
    background-color: #43434365;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
}
.left {
    display: block;
    margin-left: 100px;
    margin-right: 1000px;
    width: 50%;
}
.right {
    display: block;
    margin-left: 1000px;
    margin-right: 100px;
    width: 50%; 
}
.right {
    display: block;
    margin-left: 1000px;
    margin-right: 100px;
    width: 50%; 
}
.box {
    width: 400px;
    height: 330px;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: #63000065;
    text-align: left;
    padding-left: 10px;
}
#box2{
    background-color: #63000065;
    text-align: left;
    padding-left: 10px;
}
#box3{
    background-color: #63000065;
    text-align: left;
    padding-left: 10px;
}
.container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
ul li::marker {
    content: "* ";
    color: rgb(255, 255, 255);
    font-size: 25px;
  }